#accessabar .ab-button-area {
    justify-content: space-between;
    flex-wrap: wrap;

    @media (--for-tablet-portrait-up) {
        flex-wrap: nowrap;
    }

    .ab-group {
        margin-right: 0.5em;
    }
}
