#accessabar .ab-hide-button-container {
    grid-area: hide-button;
    align-items: flex-start;

    .ab-hide-button {
        background: var(--bg-grey);
        padding: 0 0.5em;
        box-shadow: 0 2px 2px var(--shadow-grey);
        color: var(--alt-font-colour);
        margin-left: 0.25rem;

        &:hover, &:focus {
            cursor: pointer;
        }
    }
}
