#accessabar .ab-sr-last-dictation {
    display: flex;
    padding: 1.5em;
    margin-top: 1em;
    border: 2px solid var(--border-grey);
    position: relative;

    .ab-sr-last-dictation-header {
        padding: 0.1em 0.5em;
        background: var(--near-white);
        font-size: 0.85em;
        position: absolute;
        top: -0.85em;
        left: 1em;
    }

    .ab-sr-last-dictation-placeholder {
        color: var(--medium-grey);
    }
}
